<section class="orders-show">

  <header class="page-header">
    <h4>Thank you for your order!</h4>
    <h1>Order #<%= @order.id %></h1>
  </header>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="2">Purchases</th>
        </tr>
      </thead>
      <tbody>
        <%= render @lineitems%>
        <tr>
        <td>
        Order total: $<%= @order.total_cents/100%>
        </td>
        <td>
        Email: <%= @order.email%>
        </td>
        </tr>
      </tbody>
    </table>

