// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

li.signed-in {
  padding-top: 15px;
}

dl.dl-vertical {
  border: 1px solid grey;
  padding-left: 10px;
  padding-bottom: 5px;
}